<div class="container">
<table>
<tbody>
<tr>
  <td>
    <div id="commenti">
      <div style="margin: 5px; padding: 5px; border-style: solid; border-color: blue; border-radius: 5px; background-color: lightseagreen; text-align: center;">
        <button style="display: inline; width: 100%" onclick="myNew()" >NEW</button>
      </div>
        
        <% taskComments.each_with_index do |commento, idx| %>            
          <div onclick="myFunction(event, this)" id="<%= idx %>" style="margin: 5px; padding: 5px; border-style: solid; border-color: blue; border-radius: 5px; background-color: lightseagreen">
            <div style="background-color: lightgray"><%= commento[:head] %></div>
            <div style="background-color: lightblue"><%= commento[:body] %></div>
          </div>
        <% end %>
    </div>
  </td>
  <td>
    <form action="/tasks/saveCommenti" method="POST">
      <!--button id="dell"  type="submit" style="display: none" >DEL</button>
      <button type="submit" >SAVEE</button-->
<input type="submit" name="SAVEbutton" value="SAVE" />
<input type="submit" id="del" name="DELbutton" style="display: none" value="DEL" />
      <div>
      <textarea id="edit" name="commento" data-remote="true" rows="20" cols="100">
      </textarea>
      <input type="hidden" name="taskID" value="<%= task.id %>">
      <input type="hidden" id="comN" name="comN" value="NEW">
      </div>
    </form>
  </td>
</tr>
</tbody>
</table>
</div>