<div class="container">
  <%= link_to '+ Nuova Richiesta',  new_task_path,  class:  'btn btn-primary', remote: true  %>
  <%= link_to 'Come non detto',  clear_tasks_path,  class:  'btn btn-primary', remote: true  %>
</div>
<div class="container" id="task-list">
 <%= render partial: 'tasks/task_list', locals: {stati: $stati, tasks: @tasks} %>
</div>
